* {
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: #0c0a16;
  text-decoration: none;
}
a:hover {
  color: #33ab0f;
}

button {
  background: none;
  border: none;
  padding: 10px;
  color: #33ab0f;
  transition: 200ms all ease-in-out;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 500;
  position: relative;
}
button:focus {
  outline: none;
}
button:hover {
  letter-spacing: 1.5px;
}
button:hover::after {
  right: -10px;
  transition: 200ms all ease-in-out;
}
button::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-right: 3px solid #33ab0f;
  border-bottom: 3px solid #33ab0f;
  transform: rotate(-45Deg);
  transition: 200ms all ease-in-out;
  top: 17.5px;
  right: -5px;
}

.body_wrapper {
  height: 100vh;
  overflow: hidden;
}

.menu_wrapper {
  background: #0c0a16;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  transition: all 300ms ease-in-out;
}
.menu_wrapper .desktop_menu {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .menu_wrapper .desktop_menu {
    display: none;
  }
}
.menu_wrapper .desktop_menu #shop {
  font-weight: 700;
}
.menu_wrapper .desktop_menu .logo {
  position: relative;
}
.menu_wrapper .desktop_menu .logo img {
  width: 35%;
}
.menu_wrapper .desktop_menu .row {
  align-items: center;
  justify-content: space-around;
}
.menu_wrapper .desktop_menu .row ul {
  list-style-type: none;
}
.menu_wrapper .desktop_menu .row ul li {
  text-align: right;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
}
.menu_wrapper .desktop_menu .row ul a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}
.menu_wrapper .desktop_menu .row ul a:hover {
  text-decoration: none;
  color: #33ab0f;
}
.menu_wrapper .desktop_menu .row .icons img {
  width: 20%;
  cursor: pointer;
}
.menu_wrapper .desktop_menu .row input {
  color: white;
  background: #33ab0f;
  border: none;
  padding: 0;
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.menu_wrapper .desktop_menu .row input::placeholder {
  color: white;
}
.menu_wrapper .mobile_menu {
  display: none;
}
@media (max-width: 768px) {
  .menu_wrapper .mobile_menu {
    display: block;
  }
}
.menu_wrapper .mobile_menu .logo {
  width: 50%;
  position: relative;
}
.menu_wrapper .mobile_menu .logo .icon {
  height: 45px;
  padding: 5px;
}
.menu_wrapper .mobile_menu .humberger_menu {
  position: relative;
  width: 50%;
}
.menu_wrapper .mobile_menu .humberger_menu img {
  height: 20px;
  right: 18px;
  top: 10px;
  cursor: pointer;
  position: absolute;
  transition: all 250ms ease-in-out;
  z-index: 1000;
}
.menu_wrapper .mobile_menu_list {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  background: #0000009e;
  transition: all 200ms ease-in-out;
}
@media (max-width: 768px) {
  .menu_wrapper .mobile_menu_list {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list {
    width: 90%;
  }
}
.menu_wrapper .mobile_menu_list ul {
  list-style: none;
  padding-left: 40px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list ul {
    padding-left: 35px;
  }
}
.menu_wrapper .mobile_menu_list ul li {
  margin: 10px 0;
}
.menu_wrapper .mobile_menu_list ul li .btn {
  font-size: 40px;
  padding: 0;
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list ul li .btn {
    font-size: 30px;
  }
}
.menu_wrapper .mobile_menu_list ul li a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}
@media (max-width: 600px) {
  .menu_wrapper .mobile_menu_list ul li a {
    font-size: 30px;
  }
}
.menu_wrapper .mobile_menu_list ul li a:hover {
  color: #0097da;
}

.video_wrapper {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
}
.video_wrapper video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 150px;
}

.banner {
  height: 600px;
  position: relative;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
}
@media (max-width: 600px) {
  .banner {
    height: 400px;
  }
}
.banner .slogan {
  border: 10px solid #ffffffd5;
  padding: 4%;
  width: 50%;
  margin: 150px auto;
  font-style: italic;
  text-align: center;
}
@media (max-width: 1200px) {
  .banner .slogan {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .banner .slogan {
    width: 97%;
    margin: 90px auto;
  }
}
.banner .slogan h2 {
  letter-spacing: 1.5px;
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .banner .slogan h2 {
    font-size: 30px;
  }
}
.banner .start {
  position: absolute;
  width: 90%;
  bottom: -125px;
  height: 250px;
  background-image: url("../images/back1.png");
  background-position: center;
  background-size: cover;
  left: 50%;
  padding: 5% 2%;
  transform: translateX(-50%);
}
@media (max-width: 1020px) {
  .banner .start {
    width: 100%;
    padding: 8% 1%;
  }
}
@media (max-width: 767px) {
  .banner .start {
    padding: 10% 1%;
  }
}
@media (max-width: 480px) {
  .banner .start {
    padding: 15% 1%;
  }
}
.banner .start .inner {
  width: calc(100%/3.1);
  position: relative;
  display: inline-block;
  padding: 1% 5%;
  transition: 200ms all ease-in-out;
}
@media (max-width: 1200px) {
  .banner .start .inner {
    padding: 1%;
  }
}
.banner .start .inner:hover {
  cursor: pointer;
}
.banner .start .inner:hover h1 {
  left: 20px;
}
.banner .start .inner h1 {
  position: absolute;
  opacity: 0.3;
  font-weight: 900;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  top: -40px;
}
.banner .start .inner h4 {
  letter-spacing: 2px;
  color: #33ab0f;
  margin-bottom: 20px;
  position: relative;
}
@media (max-width: 900px) {
  .banner .start .inner h4 {
    font-size: 18px;
  }
}
.banner .start .inner h4::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #33ab0f;
  top: 35px;
  left: 0;
}
@media (max-width: 480px) {
  .banner .start .inner h4::after {
    top: 50px;
  }
}
@media (max-width: 900px) {
  .banner .start .inner p {
    font-size: 14px;
  }
}

.description {
  padding-top: 200px;
}
.description .image {
  background-image: url("../images/IMG_2105.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}
.description .info {
  margin: 50px 0;
  height: 100%;
}
.description .info h1 {
  color: #33ab0f;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.description .info p {
  margin-top: 20px;
  color: #0c0a16;
}
.description button {
  margin-top: 30px;
}

.description_modal {
  position: fixed;
  right: -150%;
  top: 50%;
  transform: translateY(-50%);
  width: 480px;
  padding: 30px;
  background: white;
  display: none;
  border-radius: 5px;
  box-shadow: 9px 12px 20px 7px #0001052b;
  z-index: 1000;
  transition: 300ms all ease-in-out;
}
@media (max-width: 600px) {
  .description_modal {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .description_modal {
    width: 98%;
  }
}
.description_modal p {
  text-align: justify;
  margin-top: 10px;
  color: #0c0a16;
}
.description_modal p span {
  color: #33ab0f;
}

.products {
  background-color: #0c0a16;
  padding: 8% 0;
  margin-top: 80px;
}
.products .content {
  text-align: center;
  margin-bottom: 40px;
  transition: 150ms all ease-in-out;
  position: relative;
  cursor: pointer;
}
.products .content .symbol {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  color: #33ab0f;
  font-weight: 700;
}
.products .content img {
  height: 60px;
  margin-bottom: 10px;
}
.products .content .short {
  margin-top: 20px;
}
.products .content .short span {
  color: #33ab0fd2;
}
.products .content .complete {
  width: 80%;
  display: none;
  position: absolute;
  top: 37%;
  background: white;
  padding: 20px;
  text-align: left;
  color: #33ab0f;
  left: 10%;
  z-index: 100;
  border-radius: 5px;
  min-height: 100px;
}
@media (max-width: 1200px) {
  .products .content .complete {
    width: 130%;
    left: 0;
  }
}
.products .content .complete .head {
  font-weight: 700;
  letter-spacing: 1.2px;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .products .content .short {
    display: none;
  }
  .products .content .complete {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
  }
}
.products .content:hover {
  transition: 150ms all ease-in-out;
}
.products .content:hover h2 {
  color: white;
}
.products .content:hover .short {
  display: none;
}
.products .content:hover .complete {
  display: block;
}

.about h1 {
  color: #33ab0f;
  margin: 30px 0;
}
.about .company p {
  color: #0c0a16;
  text-align: justify;
}
.about .team .wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 1200px) {
  .about .team .wrapper {
    width: 100%;
  }
}
.about .team .wrapper img {
  width: 100%;
}
.about .team .wrapper .info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  background: #26569fc2;
  padding: 20% 10%;
  height: 100%;
  display: table;
}
@media (max-width: 900px) {
  .about .team .wrapper .info {
    padding: 10%;
  }
}
@media (max-width: 768px) {
  .about .team .wrapper .info {
    padding: 5%;
  }
}
.about .team .wrapper .info h1 {
  color: #33ab0f;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 600px) {
  .about .team .wrapper .info h1 {
    margin: 5px 0 10px 0;
    font-size: 20px;
  }
}
.about .team .wrapper .info h3 {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .about .team .wrapper .info h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
.about .team .wrapper .info p {
  display: table-row;
  height: fit-content;
}
.about .team .wrapper .info p a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
}
.about .team .wrapper .info p a:hover {
  color: #33ab0f;
}
@media (max-width: 600px) {
  .about .team .wrapper .info p a {
    font-size: 16px;
  }
}
.about .team .wrapper:hover img {
  -webkit-filter: blur(10px) grayscale(1);
  filter: blur(5px) grayscale(1);
}
.about .team .wrapper:hover .info {
  transition: 200ms all ease-in-out;
  opacity: 1;
}
.about .team .margin {
  margin-top: 50px;
}

.sister_companies {
  background: #0c0a16;
}
.sister_companies h1 {
  color: #33ab0f;
}
.sister_companies img {
  width: 145px;
}
@media (max-width: 600px) {
  .sister_companies img {
    width: 100px;
  }
}
@media (max-width: 480px) {
  .sister_companies img {
    width: 60px;
  }
}

.gallery h1 {
  color: #33ab0f;
  margin-bottom: 30px;
}
.gallery .column {
  flex: 33.2%;
}
.gallery .column .gallery_img {
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .gallery .column {
    flex: 47%;
    padding: 0 5px;
  }
}

.gallery_modal {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  display: none;
  height: 100vh;
  background-color: rgba(31, 31, 31, 0.91);
  z-index: 1000;
}
.gallery_modal img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .gallery_modal img {
    height: auto;
    width: 80%;
  }
}

.contact h1 {
  margin-left: 50px;
  color: #33ab0f;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .contact h1 {
    margin-left: 20px;
  }
}
.contact .map .info {
  padding: 50px 0 50px 50px;
}
@media (max-width: 900px) {
  .contact .map .info {
    padding-left: 20px;
  }
}
.contact .map .info .tel, .contact .map .info .mail {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 30px;
}
.contact .map .info .tel {
  background-image: url("../images/icons/call.svg");
}
.contact .map .info .mail {
  background-image: url("../images/icons/mail.svg");
}
.contact .map .info p, .contact .map .info h3 {
  color: #0c0a16;
}
.contact .map .img {
  background-image: url("../images/map.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width: 767px) {
  .contact .map .img {
    height: 300px;
  }
}
.contact .map .img a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.contact .map p {
  margin-top: 10px;
}
.contact .image {
  background-image: url("../images/welding.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}
.contact form {
  width: 90%;
  margin: 50px auto;
  position: relative;
  z-index: 1;
}
.contact form h1 {
  color: #0c0a16;
  margin-left: 0;
  position: relative;
  margin-bottom: 10px;
}
.contact form h1 span {
  color: #33ab0f;
}
.contact form h1::after {
  position: absolute;
  content: "REQUEST";
  font-size: 90px;
  left: -20px;
  top: -32px;
  opacity: 0.1;
  z-index: -1;
}
.contact form p {
  color: #0c0a16;
  letter-spacing: 8px;
  font-weight: 700;
  position: relative;
}
.contact form p::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 20%;
  left: -3%;
  bottom: -10px;
  background: #33ab0f;
}
.contact form .half {
  width: 48%;
}
.contact form .half:nth-of-type(2) {
  float: right;
}
.contact form textarea {
  min-height: 200px;
}
.contact form button {
  margin-top: 20px;
  border: 1px solid #33ab0f;
  border-radius: 2px;
  width: 100px;
  color: #33ab0f;
}
.contact form button:hover {
  background: #33ab0f;
  color: white;
}
.contact form button::after {
  display: none;
}

footer {
  padding: 5% 0;
  background: #0c0a16;
}
footer .mail, footer .site, footer .location, footer .tel, footer .insta, footer .facebook {
  background-position: left;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
footer .mail {
  background-image: url("../images/icons/mail.svg");
}
footer .site {
  background-image: url("../images/icons/globe.svg");
}
footer .tel {
  margin-bottom: 20px;
  background-image: url("../images/icons/call.svg");
}
footer .location {
  background-image: url("../images/icons/placeholder.svg");
}
footer .insta {
  height: 40px;
  background-size: contain;
  background-image: url("../images/icons/instagram.svg");
}
footer .facebook {
  height: 40px;
  background-size: contain;
  background-image: url("../images/icons/facebook.svg");
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #33ab0f;
}

/*# sourceMappingURL=style.css.map */
